body {
	text-align: center;
}
hr {
	width: 50%;
}
button {
	text-align: center;
	padding: 0px;
	margin: 0.65em 0 0.65em 0;
}
button img {
	vertical-align: middle;
	width: 180px;
}
party_container {
	display: flex;
}
party_element {
	flex: 1 1 100px;
}
