body {
	font-size: 1.3rem;
	background-color: rgba(149, 255, 149, 1)
	
}
h1 {
	text-align: center;
}
a:visited {
	color: blue
}
.CFU {
	font-size: 1.5rem;
	text-align: right;
	margin: 0 150px 20px 0;
}
table {
	width: 100%;
}
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
}
.mainSubject {
	background-color: #e5e5f7;
	background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 42.5px 42.5px, linear-gradient(#43ff64 3.4000000000000004px, transparent 3.4000000000000004px) 0 -1.7000000000000002px, linear-gradient(90deg, #43ff64 3.4000000000000004px, #e5e5f7 3.4000000000000004px) -1.7000000000000002px 0;
	background-size: 85px 85px, 85px 85px, 42.5px 42.5px, 42.5px 42.5px;
}
th {
	font-size: 1.3rem;
	padding: 1rem 0;
	min-width: 20%;
}
tr > td:nth-child(2) {
	padding: 12px;
}
tr > td:nth-child(3) {
	font-family: "Georgia", sans-serif;
	text-align: center;
	min-width: 10%;
	max-width: 10%;
}
tr > td:nth-child(4) {
	font-size: 1rem;
	padding-left: 5px;
}

.flexWrapper {
	display:flex;
	flex-direction: column;
	align-items: center;
}
.tab{
	cursor: pointer;
	padding: 1vw;
	margin: 0px 2px;
	background: rgb(40, 40, 40);
	display: inline-block;
	color: white;
	border-radius: 6px 6px 0px 0px;
	box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
	background: rgb(235, 235, 235);
	box-shadow: 0 5px 10px #00000080;
	min-height: 500px;
	width: 100%;
	max-width: 1000px;
	border-radius: 9px;
	overflow: hidden;
	padding: 20px;  
}
.panel, .radio{
	display:none;
}
.panel-title{
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel
{
	display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab
{
	background: white;
	color: rgb(40, 40, 40);
	border-top: 3px solid #000;
}
